<div class="container">

  <div class="row">
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="card-header col-lg-12">
      <div class="form-group" align="center">
        <h5 class="card-title">Search Table Names</h5>
        <input type="text" #schemaName name="schemaName">
        <button (click)="search(schemaName.value)">Search</button>
      </div>
      <p align="center" [hidden]="!(tables.length === 0)">No Tables Found</p>
    </div>
    <div class="card-body" col-lg-12 align="center">
      <div [hidden]="!(tables.length > 0)" class="col-lg-3">
        <div class="card">
          <div class="card-header">
            Table List
          </div>
          <div class="card-body">
            <div *ngFor="let tableName of tables">
              <p class="card-text">{{tableName}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
